* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
    flex-wrap: wrap;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    height: 100%;
    width: 100%;
    font-size: 60px;
    margin-top: 0%;
    margin-bottom: 0%;
}

#eas-contents{
/*     display: flex;
    justify-content: center; */
    align-items: center;
    background-color: cyan;
    height: 500px;
    width: 100%;
    margin-top: 0%;
}

#color-options {
    display: flex;
    /* margin-right: 10px; */
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.color-pick, .rainbow-colors,
.warm-colors, .cold-colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color {
    position:absolute;
    top:-10px;
    left:-10px;
    width:99px;
    height:99px;
}
.circle {
    position:relative;
    width: 70px;
    height: 70px;
    border-radius: 15%;
    overflow: hidden;
}

#rainbow-circle {
    width: 70px;
    height: 70px;
    border-radius: 15%;
    border-color: black;
    background-color:yellow;
}
#warm-color-circle {
    width: 70px;
    height: 70px;
    border-radius: 15%;
    border-color: black;
    background-color:brown;
}
#cold-color-circle {
    width: 70px;
    height: 70px;
    border-radius: 15%;
    border-color: black;
    background-color:blue;
}


#eas-grid {
    display: flex;
/*     flex-grow: 2; */
    justify-content: center;
/*     align-items: center; */
    background-color:darkseagreen;
    height: 100%;
}

#dimensions-list{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:deeppink;
    height: 100%;
}

.box {
    display: grid;
    height: 25px;
    width: 25px;
    background-color: aquamarine;
    border: 0.01 em 0.01 em solid black;
    padding-top: 0%;
    margin: 0 auto;
    margin-top: 0;
}

.row {
    background-color: aquamarine;
    border: 0.01 em 0.01 em solid black;
    /* border: 1px solid black; */
    }
